@import url('https://fonts.googleapis.com/css2? family= Merriweather+Sans:wght@300 & family= Oswald & display=swap');

html {
    font-size: 62.5%;
}

body {
    background-image: url(../img/fondodepanaderia.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
}

h1 {
    color: rgb(110, 83, 63);
    font-size: 4rem;
}

h2 {
    color: rgb(110, 83, 63);
    font-size: 3rem;
}

h3 {
    color: rgb(110, 83, 63);
    font-size: 2.5rem;
}

h4 {
    color: rgb(110, 83, 63);
    font-size: 2rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Merriweather Sans', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
}

.cCinnamon {
    background-color: #eab78dd3;
    color: rgb(75, 55, 39);
}

.cLight {
    background-color: rgba(255, 215, 186, 0.702);
}

.cLight1 {
    background-color: rgba(250, 199, 158, 0.702);
    background: linear-gradient(281deg, rgba(224, 177, 130, 1) 0%, rgba(255, 227, 201, 1) 74%);
}

.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
}

.encabezadoimgFluid {
    width: 100%;
}

/*NAVEGACION*/

#botonera img {
    width: 200px;
}

nav ul li {
    list-style: none;
    margin-right: 35px;
}

nav ul li a {
    font-size: 2.2rem;
    color: rgb(110, 83, 63);
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    transition: font-size 1s;
}

nav ul li a:hover {
    text-decoration: underline;
    font-size: 2.6rem;

}

.novedadesArticulo {
    width: 95%;
    margin: 20px;
    border: dotted rgb(110, 83, 63) 2px;
}

/* Nosotros */

.conteinerNos {
    border: dotted rgb(110, 83, 63) 2px;
}

.selloNat {
    width: 200px;
    margin: 100px;
}

@keyframes animateSello{
    0%{width: 200px}
    50%{width: 250px;}
    100%{width: 200px;}   
}

.animateSello{
    animation-name: animateSello;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.imgNosotros {
    width: 430px;
    margin-bottom: 30px;
}

img[src="img/imgnosotros.jpeg"] {
    border: solid 2px rgb(131, 89, 47);

}

.titleNosotros {
    font-size: 3.5rem;
    color: rgb(110, 83, 63);
    margin-top: 180px;
}

.nosotrosP {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: rgb(110, 83, 63);
}

.selectores:first-letter {
    color: #f7872cd3;
    font-size: 3rem;
}

/* aromacanela */

#contenedorAroma {
    margin: 50px;
    border: dotted rgb(110, 83, 63) 2px;
    background-color: rgba(255, 208, 174, 0.7);
}

.imgpanAromacanela {
    width: 500px;
    margin: 30px;
    margin-top: 80px;
}

/*productos*/

.titlePanes {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: rgb(110, 83, 63);
    padding: 10px 0;
}

main article p {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: rgb(110, 83, 63);

}

.filtros {
    padding: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    color: rgb(110, 83, 63);
}

.card2 {
    border: solid 1px rgb(131, 89, 47);
}

main img[src$=".jpeg"] {
    border: solid 2px rgb(131, 89, 47);
}

/*promociones*/

#contenedorPromociones {
    margin: 60px;
    border: dotted rgb(110, 83, 63) 2px;
    background-color: rgba(255, 208, 174, 0.7);
}

main section p {
    margin: 20px;
}

/* contacto */

main div p {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: rgb(110, 83, 63);
    padding: 10px 0;
}

/* footer */

.spacing {
    margin-top: 20px;
}

.logoPie {
    width: 200px;
}

.pieIconsm {
    width: 35px;
}