@import url('https://fonts.googleapis.com/css2? family= Merriweather+Sans:wght@300 & family= Oswald & display=swap');

/* reset */
*::after,
*::before,
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(../img/fondodepanaderia.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
}

h1 {
    color: rgb(110, 83, 63);
    font-size: 4rem;
}

h2 {
    color: rgb(110, 83, 63);
    font-size: 3rem;
}

h3 {
    color: rgb(110, 83, 63);
    font-size: 2.5rem;
}

h4 {
    color: rgb(110, 83, 63);
    font-size: 2rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Merriweather Sans', sans-serif;
}

#botonera img {
    width: 200px;
}

p {
    font-family: 'Oswald', sans-serif;
}

.cCinnamon {
    background-color: #d1a07d;
    color: rgb(75, 55, 39);
}

.cLight {
    background-color: rgba(255, 215, 186, 0.7);
}

.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
}

.encabezadoimgFluid {
    width: 100%;
}

/*NAVEGACION*/

nav ul li {
    list-style: none;
    margin-right: 35px;
}

nav ul li a {
    font-size: 2.2rem;
    color: rgb(110, 83, 63);
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    transition: font-size 1s;
}

nav ul li a:hover {
    text-decoration: underline;
    font-size: 2.6rem;

}

main section p {
    color: rgb(131, 89, 47);
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    line-height: 2.2rem;
    font-weight: 400;
}

.novedadesArticulo {
    width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 10px 20px;
    border: dotted rgb(110, 83, 63) 2px;
}

/* aromacanela */

#contenedorAroma {
    width: 95%;
    height: 410px;
    margin: 50px auto;
    display: flex;
    border: dotted rgb(110, 83, 63) 2px;
    background-color: rgba(255, 208, 174, 0.7);
}

.imgpanAromacanela {
    width: 500px;
    margin: 30px;
    top: 40px;
}

.aromaImg {
    top: 50px;
    left: 40px;
}

#contenedorAroma section p {
    margin: 50px;
    left: 5px;
}

/*productos*/

.titlePanes{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: rgb(110, 83, 63);
    padding: 10px 0;
}

main article p{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: rgb(110, 83, 63);

}

.filtros {
    padding: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    color: rgb(110, 83, 63);
}

/*promociones*/

#contenedorPromociones {
    width: 90%;
    height: 300px;
    margin: 50px auto;
    position: relative;
    border: dotted rgb(110, 83, 63) 2px;
    background-color: rgba(255, 208, 174, 0.7);
}

.tipoPromociones {
    top: 10px;
    margin: 10px;
}

/* contacto */

main div p{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: rgb(110, 83, 63);
    padding: 10px 0;
}

/* footer */

.spacing{
    margin-top: 20px;
}

.logoPie {
    width: 200px;
}

.pieIconsm {
    width: 35px;
}