//vars esquema de colores
$textColor: rgb(110, 83, 63);
$borderColor: rgb(131, 89, 47);
$letterColor: #f7872cd3;
$textbottonColor: rgb(75, 55, 39);


//fondos
$bottonColor: #eab78dd3;
$mainColor: rgba(255, 215, 186, 0.702);
$navColor: rgba(250, 199,158,0.702);
$aromapromoColor: rgba(255, 208, 174, 0.7);

