//vars esquema de color
$textColor: rgb(110, 83, 63);
$borderColor: rgb(131, 89, 47);
$bottonColor: #eab78dd3; 

//fondos
$mainColor: rgba(255, 215, 186, 0.702);
$navColor: rgba(250, 199, 158, 0.702), linear-gradient(281deg, rgba(224, 177, 130, 1) 0%, rgba(255, 227, 201, 1) 74%);
$aromapromoColor: rgba(255, 208, 174, 0.7);
$letterColor: #f7872cd3;
$textbottonColor: rgb(75, 55, 39);




