.spacing{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.logoPie{
    width: 200px;
}

.pieIconsm{
    width: 35px;
}

.footer{
    background: linear-gradient(281deg, rgba(224, 177, 130, 1) 0%, rgba(255, 227, 201, 1) 74%);
}