//extends
.conteinerNos{
    border: solid $textColor 1px;
    background-color: $aromapromoColor;
}

.contenedorPromociones{
    @extend .conteinerNos;
    margin: 50px;
}

#contenedorAroma{
    @extend .conteinerNos;
    @extend .contenedorPromociones;
}

//mixins

@mixin textos($size, $interlineado, $color, $align){
    font-size: $size;
    line-height: $interlineado;
    color: $color;
    font-family: 'Oswald', sans-serif;
    margin: 10px;
    @if $align == left{text-align: left;}
    @if $align == center{text-align: center;}
}
//@include textos(2em, 2.2em, $textColor)




