//extends
.btn-productos{
    width: 100px;
    height: 30px;
    border: none;
    background-color: $bottonColor;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $textbottonColor;
    border-radius: 2px;
}

.btn-contacto{
    @extend .btn-productos;
    width: 60px;
}

.box-promociones{
    margin: 60px;
    border: dotted 2px $textColor;
    background-color: $aromapromoColor;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


//mixins

@mixin textos ($size,$interlineado,$color){
    padding: 10px;
    margin: 10px 30px;
    font-family: 'Oswald', sans-serif;
}

p{
    @include textos(2em, 2.2em, $textColor)
}
