//nesting   
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(281deg, rgba(224, 177, 130, 1) 0%, rgba(255, 227, 201, 1) 74%);
    img {
        width: 200px;
    }
    ul{
        display: flex;
        li{
            list-style: none;
            margin-right: 35px;
            a{
                font-size: $fontNav;
                color: $textColor;
                text-decoration: none;
                font-family: $mainFont;
                transition: font-size 1s;
                &:hover{
                    color: $textColor;
                    text-decoration: underline;
                    font-size: $fontHover;
                }
            }   
        }
    }
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(../img/fondodepanaderia.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
}
